body {
    background: #f6fff4;
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-attachment: fixed;
    width:780px;
    color: #717272;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding:10px auto 0 auto;
    margin:auto;
}

A:link {
    COLOR: #F1A93B; TEXT-DECORATION: none;
}
A:visited {
    COLOR: #F1A93B; TEXT-DECORATION: none;
}
A:active {
    COLOR: #8F5933; TEXT-DECORATION: none;
}
A:hover {
    COLOR: #DD861F; TEXT-DECORATION: none;
}

A.footerl:link {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:visited {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:active {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:hover {
    COLOR: #8F5933; TEXT-DECORATION: underline;
}

.container {
    background-color: #FFF;
    border: 1px solid #000000;
}

.navigation {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 95%;
    float: right;
    text-align: left;
    background-color: #FFF;
    padding-top: 35px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 16px;
}

.logo {
    border-bottom: 3px solid #000000;
    text-align: left;
    color: #F1A93B;
    font-size: 24px;
    padding: 2px;
}

.image {
    border-bottom: 3px solid #000000;
    background-color: #000000;
    background: url(../images/dogGroupEdit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

.image2 {
    border-bottom: 3px solid #000000;
    background-color: #000000;
    background: url(../images/formated_dogs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 278px;
}

.boxcontain {
    background-color: #000000;
    width: 46%;
    float: left;
    height: 147px;
}

.rightgrey {
    background: #000000;
    height: 147px;
    float: left;
}

.content {
    padding: 5px;
}

.leftcontent {
    background:#fff;
    padding:20px;
}

h3 {
    color: #A2A2A3;
    padding: 0;
    margin: 0 0 5px 0;
}

.footer {
    font-size: 11px;
    padding: 0 3px 3px 3px;
    float: right;
}

.bottomnav {
    border-top: 3px solid #000000;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blackborder {
    background: rgba(235, 235, 236, 0.63);
    border: 3px solid #000000;
    display: inline-block;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.rcorners {
    border-radius: 25px;
    border: 3px solid #000000;
    display: inline-block;
    padding: 10px;
    width: 600px;
    height: 150px;
}

table.searchtable th{
    padding-left:10px;
    padding-right:10px;
}

table.searchtable td{
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}