body {
    background: #f6fff4;
    background-repeat: no-repeat;
    background-position: 0% 25%;
    background-attachment: fixed;
    width:780px;
    color: #717272;
    font-size: 14px;
    font-family: Verdana, sans-serif;
    padding:10px auto 0 auto;
    margin:auto;
}

A:link {
    COLOR: #F1A93B; TEXT-DECORATION: none;
}
A:visited {
    COLOR: #F1A93B; TEXT-DECORATION: none;
}
A:active {
    COLOR: #8F5933; TEXT-DECORATION: none;
}
A:hover {
    COLOR: #DD861F; TEXT-DECORATION: none;
}

A.footerl:link {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:visited {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:active {
    COLOR: #000; TEXT-DECORATION: none;
}
A.footerl:hover {
    COLOR: #8F5933; TEXT-DECORATION: underline;
}

.container {
    background-color: #FFF;
    border: 1px solid #AAAAAA;
}

.navigation {
    letter-spacing: 1px;
    word-spacing: 3px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 95%;
    float: right;
    text-align: left;
    background-color: #FFF;
    padding-top: 33px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 18px;
}

.logo {
    border-bottom: 4px solid #000000;
    text-align: left;
    color: #F1A93B;
    font-size: 24px;
    padding: 2px;
}

.image {
    border-bottom: 4px solid #000000;
    background: url(../images/dogGroupEdit.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 150px;
}

.image2 {
    border-bottom: 4px solid #000000;
    background: url(../images/formated_dogs.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 279px;
}

.boxcontain {
    background-color: #A2A2A3;
    width: 46%;
    float: left;
    height: 147px;
}

.rightgrey {
    background: #A2A2A3;
    height: 147px;
    float: left;
}

.content {
    padding: 5px;
}

.leftcontent {
    background:#fff;
    padding:20px;
}

h3 {
    color: #A2A2A3;
    padding: 0;
    margin: 0 0 5px 0;
}

.footer {
    font-size: 11px;
    padding: 0 3px 3px 3px;
    float: right;
}

.bottomnav {
    border-top: 4px solid #000000;
    font-size: 10px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.blackborder {
    background: rgba(201, 201, 202, 0.63);
    border: 4px solid #000000;
    display: inline-block;
    padding-top: 8px;
    padding-right: 8px;
    padding-bottom: 8px;
    padding-left: 8px;
}

.dateclass {
    width: 100%;
}

.dateclass.placeholderclass::before {
    width: 100%;
    content: attr(placeholder);
}

.dateclass.placeholderclass:hover::before {
    width: 0%;
    content: "";
}